<footer>
    <div>
        <div>
            <span>
                <img src="/assets/images/logo-black.png">
            </span>
            <span>
                <h1>Watch Out!</h1>
                <h4>The Official Media Body of IITR</h4>
            </span>
        </div>
        <div>
            <p>watchout@iitr.ac.in</p>
            <p>91-9149337789</p>
        </div>
    </div>
    <div>
        <h5>To get weekly updates from our publication</h5>
        <button>Subscribe</button>
    </div>
    <div>
        <nav>
            <a>Freshmen guide to IITR</a>
            <a>Publications</a>
            <a>About</a>
            <a>Team</a>
        </nav>
        <div>
            <img>
            <img>
            <img>
        </div>
    </div>
</footer>