  
  <script src="https://kit.fontawesome.com/b701dc09bb.js" crossorigin="anonymous"></script>
  <script>
  function openLinkIcon(obj){
    var link=obj.getAttribute("href");
    window.open(link);
  }
  </script>
  
  <link rel="stylesheet" href="/css/main.css">
  <footer class="foot">
      <div class="foot-container">
          <div class="foot-container2">
              <div class="foot-sec1">
                  <div class="foot-part1-1">
                      <div class="foot-img">
                          <img src="/images/logo.png" alt="logo" >
                      </div>
                      <div class="foot-tit">
                          <h1>Watch Out!</h1>
                          <p>The Student Media Body of IITR</p>
                      </div>
                  </div>
                  <div class="foot-part2-1">
                      <div class="foot-mail"><a href="mailto: watchout@iitr.ac.in">watchout@iitr.ac.in</a></div>
                      <div class="foot-phone"><a href="tel:9149337789">91-9149337789</a></div>
                  </div>
              </div>
              <div class="foot-sec2">
                  <div class="foot-part1-2">
                      <p>
                          To get weekly updates from our publications  
                      </p>
                      <button class="foot-subscribe">Subscribe</button>
                  </div>
              </div>
              <div class="foot-sec3">
                  <div class="foot-part1-3">
                      <a href="#">Freshmen guide to IITR</a>
                      <a href="#">Publications</a>
                      <a href="#">About</a>
                      <a href="#">Team</a>
                  </div>
                  <div class="foot-part2-3">
                    <span >
                        <i title="Github" class="fab fa-github" onclick="openLinkIcon(this)" href="https://github.com/wona"></i>
                      </span>
                      <span >
                        <i title="Instagram" class="fab fa-instagram" onclick="openLinkIcon(this)" href="https://www.instagram.com/watchoutiitr/"></i>
                      </span>
                      <span > 
                        <i title="Facebook" class="fab fa-facebook" onclick="openLinkIcon(this)" href="https://www.facebook.com/watchoutiitr">
                        </i>
                      </span>
                      <span >
                        <i title="Linked-In" class="fab fa-linkedin-in"onclick="openLinkIcon(this)" href="https://www.linkedin.com/company/watchoutnewsagency/"></i>
                      </span>
                      <span >  
                        <i title="Youtube" class="fab fa-youtube" onclick="openLinkIcon(this)" href="https://www.youtube.com/channel/UCthZ7tKOzy4EJpuVxtdcp1A/featured"></i>
                      </span>
                      <span >
                        <i title="Twitter" class="fab fa-twitter" onclick="openLinkIcon(this)" href="https://twitter.com/watchoutiitr"></i>
                      </span>
                  </div>
                  <div class="foot-part3-3">
                      <div class="foot-media1-3">
                          <a href="#">Freshmen guide to IITR</a>
                          <a href="#">Publications</a>
                      </div>
                      <div class="foot-media2-3">
                          <a href="#">About</a>
                          <a href="#">Team</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </footer>
