---
layout: layout
---

<div class="category-posts container">  
      
      {% for cat in site.data.categories %} 
      {% if cat.name == page.category %}
      <h2 style="margin-top: 27px; color: #F88D67; font-weight: normal; font-size: 25px; text-transform: uppercase;">{{cat.title}} </h2>
      {% for subcat in cat.subcategories %}
      <div class ="row" style= "padding-bottom: 4%;margin-top: 44px;">
        <h2 style=" margin-top: 23px; margin-bottom: 44px; padding-left: 1%; font-size: 30px;">{{subcat.title}}</h2>
        {% for post in site.categories[subcat.name] %}  
        <div class="col-sm-4 article-col" style="padding-right: 6%;">    
          {% include vertical_post.html post=post %}
        </div>
        {% endfor %}
        <div class="col-sm-10 article-col" style="padding-right: 6%;">
        </div>
        <div class="col-sm-2 article-col" style="padding-right: 6%;">
          <a href="/subcategory/{{subcat.name}}/" style="text-align: right; font-weight: bold; color: #F88D67; font-size: 15px;">SEE MORE>></a>
          </div>
        
      </div>
      {% endfor %}
      {% endif %}
      {% endfor %}
       
      <div class="col-md-4">
        <div class="fb-page" data-href="https://www.facebook.com/WatchOutNewsAgency/" data-tabs="timeline" data-width="330" data-height="540" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/WatchOutNewsAgency/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/WatchOutNewsAgency/">Watch Out! News Agency</a></blockquote></div>
      </div>

<!--   {{cat.name}}/subcategory/ -->
</div>

<!--#F2F8FA-->